body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(59, 59, 59);
}

h1 {
    color: aliceblue;
}

.card {
    background-color: rgba(250, 235, 215, 0);
    border-radius: 0;
    border: none;
    min-height: 250px;
}

.row {
    row-gap: 20px;
}